outputs
examples/scenes/*
!examples/scenes/kitchen/
examples/scenes/kitchen/models
examples/scenes/kitchen/textures
!examples/scenes/kitchen/*.xml
!examples/scenes/kitchen/lenses
*.pdf
.vscode
__pycache__/
*.egg-info/
